.config-editor {
  position: relative;
}

.config-editor h2 {
  display: inline-block;
  margin-bottom: 0px;
}

.param-table td div,
.tuning-table td div {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.param-table th {
  min-width: 40px;
  max-width: 400px;
}

.search {
  display: flex;
  height: fit-content;
  margin: 0;
  padding: 2px 0;
  align-items: center;
  justify-content: space-between;
}

.search > h3 {
  margin: 0 15px 0 0;
  padding: 5px 0;
}

.search > input {
  width: 40%;
  border: 1px solid var(--border-color);
  margin-right: 10px;
}

.highlighted {
  color: #fd6767;
}

.mode-dropdown {
  margin: 0;
  margin-left: 10px;
}

.mode-text {
  display: inline;
}

.deploy-tuner {
  margin-left: 0 !important;
}

.ce-warning {
  background-color: rgb(145, 33, 45);
  border-radius: 5px;
  border: 2px solid darkred;
  padding: 5px 10px;
  margin: 5px 0;
  margin-left: 5px;
}

.success {
  background-color: rgb(16, 119, 30);
  border: 2px solid limegreen;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.warning-container {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  margin: 10px;
  z-index: 999;
}

.warning-prefix {
  font-weight: bolder;
  color: #f8d330;
}

.success-prefix {
  font-weight: bolder;
  color: #167903;
}

@media (prefers-color-scheme: dark) {
  .success-prefix {
    font-weight: bolder;
    color: #93ff7d;
  }
}

.warning-text {
  font-size: medium;
  margin: 4px 0;
}

.param-table-header {
  width: 25%;
}

.comment-table-header {
  width: 25%;
}
.param-table-container {
  overflow-y: auto;
  border: 1px solid var(--border-color);
  position: absolute;
  top: 120px;
  bottom: 30px;
  right: 30px;
  left: 30px;
  scrollbar-color: #888 var(--background-color-1);
}

@media screen and (max-width: 575px) {
  .param-table-container {
    top: 158px;
  }
}

@media screen and (max-width: 650px) {
  .param-table-container {
    left: 10px;
    right: 10px;
    bottom: 10px;
  }
}

.config-editor table td {
  max-width: 0;
  text-overflow: ellipsis;
}

/* Style for the question mark icon */
.question-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid var(--border-color);
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 0 0 0 5px;
}

.deploy-dir {
  position: relative;
  max-width: 100%;
  display: flex;
  justify-content: right;
  margin: 0;
}

.config-editor-line h2 {
  margin: 0;
}

.deploy-dir-path {
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 100%;
  font-family: monospace;
}

.extra-info {
  display: none;
  position: absolute;
  left: 10px;
  top: 20px;
  font-size: small;
  padding: 6px;
  background-color: var(--background-color-2);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  z-index: 1;
}

/* Show extra information on hover */
.question-icon:hover + .extra-info {
  display: block;
  z-index: 999 !important;
}

.tuner-mode {
  margin-top: 10px;
  margin-left: 8px;
}
.controller-dropdown {
  margin-top: 25px;
}

td input::-webkit-outer-spin-button,
td input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.copy-one {
  color: #fff;
  width: fit-content;
  height: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 5px;
  margin: 10px 0 0 0;
  background-color: #1987b9;
  padding: 5px;
  width: fit-content;
}

.copy-all {
  color: #fff;
  width: fit-content;
  height: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 5px;
  margin: 2px 0;
  background-color: #b42006;
  padding: 5px;
}

.copy-header {
  margin-top: 50px;
}

.tuner-copy-mode {
  margin-bottom: 20px;
}

.resizer {
  position: absolute;
  top: 0;
  right: -3px;
  bottom: 0;
  width: 6px;
  background: transparent;
  cursor: col-resize;
  z-index: 999;
}
.config-editor table {
  border: 1px solid var(--border-color);
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0;
}

.config-editor-line {
  width: calc(100% - 40px);
  padding: 0 20px;
  display: flex;
  justify-content: left;
  gap: 15px;
  align-items: baseline;
  flex-wrap: wrap;
}

.search,
.config-search {
  flex-grow: 1;
}

.config-search {
  min-width: 200px;
}

.mode-dropdown-container {
  flex-grow: 0.05;
  display: flex;
  align-items: center;
  gap: 15px;
}

.mode-dropdown-container h3 {
  margin: 0;
}

.parameter-table-headers > th {
  position: sticky;
}

.parameter-table-headers th + th {
  border-left: 1px solid var(--border-color);
}

.param-table-container input {
  background-color: transparent;
}

.param-table-container td + td {
  border-left: 1px solid var(--border-color);
  margin: 0;
  padding: 0;
}

.param-table td {
  overflow: hidden;
}

.param-table th div {
  overflow: hidden;
  scrollbar-width: thin;
  margin-left: 0;
}

.param-table div {
  width: 100%; /* Ensure the div takes the full width of the cell */
  overflow: auto; /* Make the div scrollable */
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Show ellipsis for overflowed text */
}

.param-table td div,
.param-table td div input {
  width: calc(100% - 4px);
  padding: 2px;
  box-shadow: none;
}
.param-table td {
  text-align: left;
  padding-left: 5px;
}
.param-table-container tr {
  border-top: 1px solid var(--border-color);
}

.param-table {
  border-collapse: collapse;
  border-spacing: 0;
}

.pc-indicator svg {
  width: 1em;
}

.pc-indicator {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
}

.tuner-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.tuner-container > * {
  min-width: 300px;
  flex: 1 1 calc(40% - 5px);
}

/* first element child of tuner container */
.tuner-container .tuner-data-table {
  flex: 1 1 calc(60% - 5px);
}

.copy-btn {
  width: 100%;
}

@media screen and (max-width: 650px) {
  .tuner-header {
    font-size: smaller;
  }

  .copy-btn {
    padding: 10px 5px;
    font-size: smaller;
  }
}

.danger,
.danger:hover,
.danger:active {
  background-color: var(--danger);
}

.config-editor input[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
