.error {
  color: red;
}

.warn {
  color: orange;
}

.logBox {
  width: calc(100% - 10px);
  background-color: var(--background-color-3);
  height: calc(100% - 20px);
  border-radius: 5px;
  text-align: left;
  padding: 5px;
  margin-bottom: 5px;
  overflow-y: auto;
}
