.settingsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
}

.settings-text {
  padding: 0;
  width: 100%;
  text-align: left;
  margin: 0;
}
