/* NetworkTablesSelect.css */

.networkTablesSelect {
  position: relative;
  display: inline-block;
  width: 100%;
}

.networkTablesSelect-toggle {
  width: 100%;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
  text-decoration: underline;
  padding-right: 5px;
  white-space: normal; /* Ensure text wraps */
  word-wrap: break-word; /* Handle long words */
  word-break: break-word; /* Handle long words */
  overflow-wrap: break-word; /* Handle long words */
}
