.sidebar {
  width: 250px;
  background-color: var(--background-color-2);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.sidebar.collapsed {
  width: 0px;
}

.sidebar-settings {
  padding: 10px;
}

.sidebar-setting {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 5px;
}

.titleBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--background-color-3);
  border-bottom: 1px solid var(--border-color);
}

.collapsed .titleBar {
  background-color: transparent;
  border: none;
  width: 50px;
}

.titleBar h2 {
  margin: 0;
}

.collapseBtn {
  float: right;
  cursor: pointer;
  padding: 5px;
  width: 30px;
  background-color: var(--background-color-2);
}
